{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-5 col-sm-offset-3" style="background-color: white;padding: 20px;border-radius: 10px;margin-top: 5%;">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}